<p id="notice"><%= notice %></p>

<div>
<%= link_to 'Edit', edit_grid_path(@grid) %> |
<%= link_to 'Back', grids_path %>
</div>

<%= @grid.device_key %>

<% grid_width = @grid.width %>

<div>
  <% (0...@grid.height).each do |y| %>
    <% (0...@grid.width).each do |x| %>
      <% color = @squares[x][y] %>
      <%= content_tag :div, style: "background-color:##{color};", class: "grid-square", id: "#{x},#{y}" do end %>
    <% end %>
      <br/>
  <% end %>
</div>
